.new-suggestion {
    width: 100%;

    // Card Item
    .card {
        height: auto;
        margin-bottom: 15px;

        &__views {
            margin-top: 12px;
            margin-bottom: 0;
        }

        &__image {
            &-topic {
                font-size: 1.3rem;
                top: 1px;
                right: 2px;
            }
        }

        &__img {
            height: 100px;
        }
    }

    &__heading {
        margin-bottom: 20px;
        font-size: 2.5rem;
    }
}