@import "../../assets/scss/responsive/responsive";
@import "../../assets/scss/generals/variables";
@import "../../assets/scss/generals/mixins";
@import "../../assets/scss/base/base";


.sidebar {
    $left: 15px;
    background-color: var(--color-sidebar);
    box-shadow: inset 0 0 10px var(--rgba-bsd);
    position: fixed;
    width: 240px;
    height: 100vh;
    transition: transform 0.5s;
    overflow-y: auto;

    @include mobile {
        width: 65%;
    }



    //Responsive
    @include mobile-tablet {
        // display: none;
        z-index: 150;
        top: 0;
        left: 0;
        // position: absolute;
        transform: translateX(-100%);
    }

    @include mobile {
        width: 75%;
    }

    @include tablet {
        width: 65%;
    }

    @include tablet-laptop {
        width: 50%;
    }

    &__list {
        .dropdown-menu {
            position: relative;
            // display: block;
        }

        .open {
            .sidebar__list-sub {
                max-height: 1000px;
            }
        }

        &-sub {
            // max-height: 0;
            transition: all .3s ease-in-out;
            overflow: hidden;

        }

    }

    &--show {
        // animation: animateSideBarShow 0.6s forwards;
        transform: translateX(0);
    }

    &__menu {
        font-size: var(--font-size-hg);
    }

    &__heading {
        font-size: var(--font-size-hg);
        margin: 20px 0;
        margin-left: $left;
        text-transform: uppercase;
        font-weight: bold;
        @include flex(space-between);

        .icon-close {
            font-size: var(--font-size-hg);
            padding: 10px;
            padding-right: 15px;
            cursor: pointer;
            display: none;

            @include mobile-tablet {
                display: block;
            }
        }
    }

    .skeleton--tournament {
        background: $color-grey-2;
    }
}