$color-white: #fff;
$color-danger: #ea2027;
$bg-white: #fcfcfc;
$text-black: #050505;
$color-grey-1: rgb(117, 107, 107);
$color-grey-2: rgb(173, 173, 173);
$color-grey-3: rgb(238, 238, 238);
$rgba-bsd: rgba(0, 0, 0, 0.15);
$rgba-bsd-black: rgba(0, 0, 0, 0.15);
$rgba-bsd-white: rgba(255, 255, 255, 0.15);
$color-black: rgb(3, 1, 3);
