@import "../../../assets/scss/responsive/responsive";
@import "../../../assets/scss/generals/variables";
@import "../../../assets/scss/generals/mixins";

.auth__box-register {
    // display: none;
    width: 100%;
    // height: 100%;
    // height: 500px;
    padding: 20px 40px;
    padding-bottom: 30px;
    position: absolute;
    backface-visibility: hidden;
    background-color: $color-white;
    border-radius: 5px;

    @include mobile {
        padding: 10px 20px;
    }
}

.auth__rules {
    margin: 12px 0;
    font-size: var(--font-size-md);
    color: $color-black;

    .form-check {
        display: flex;

        .checkbox {
            width: 20px;
            height: 20px;
            border: 1px solid red;
            cursor: pointer;
        }
    }

    &-text {
        margin: 0 5px;

        &--error {
            color: red;

            a {
                color: red;
            }
        }
    }

    &-link {
        margin: 0 5px;
    }
}