@import "../../../../assets/scss/responsive/responsive";
@import "../../../../assets/scss/generals/variables";
@import "../../../../assets/scss/generals/mixins";
@import "../../../../assets/scss/base/base";



.card {
    // border: 1px solid;
    min-height: 190px;
    height: 230px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 6px 8px var(--rgba-bsd);
    position: relative;
    transition: transform 0.3s;
    margin-bottom: 20px;

    @include mobile {
        height: auto;
        min-height: 0;
    }

    &:hover {
        transform: translateY(-5px);
        opacity: 0.9;

        .card__image {
            &-topic {
                animation: animateTopic .3s forwards;

                @include mobile-tablet {
                    animation: none;
                }
            }

            .card__img {
                transform: scale(1.05);
            }
        }

    }


    &-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include mobile {
            flex-direction: row;
        }
    }

    &__image {
        height: 100%;
        position: relative;

        &-topic {
            position: absolute;
            right: 5px;
            top: 8px;
            color: $color-white;
            z-index: 2;
            // display: block;
            min-width: 80px;
            height: 25px;
            line-height: 25px;
            padding: 0px 8px;
            text-align: center;
            background: rgba(255, 212, 36, 0.9);
            font-size: 1.6rem;
            border-radius: 5px;


            @include mobile {
                top: 2px;
                font-size: 1rem;
                left: 0;
                right: 0;
                background: rgba(255, 212, 36, 0.7);
                height: 20px;
                line-height: 20px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 140px;
        object-fit: fill;
        transition: transform 0.5s;
        border-radius: 3px;

        @include mobile {
            height: 100px;
        }
    }

    &__content {
        width: 100%;
        padding: 0 10px;
        color: var(--color-text);

        &-title {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            height: 47px;
            text-transform: inherit;

            @include mobile {
                height: 52px;
                -webkit-line-clamp: 3;
            }
        }
    }

    //Card__top
    &__top {
        width: 100%;

        @include mobile {
            width: 35%;
        }
    }

    //Card__body
    &__body {
        position: relative;
        flex: 1;
        margin-top: 5px;
        @include flex(space-between);
        align-items: flex-start;
        flex-direction: column;

        @include mobile {
            width: 65%;
        }

        overflow: hidden;
    }

    //Card__view
    &__views {
        color: var(--color-text);
        align-self: flex-end;
        // margin-bottom: 10px;
        margin-bottom: 12px;
        margin-right: 8px;
        font-size: 1.4rem;

        .icon-views {
            margin: 0 5px;
        }

        &-post {}

        &-numb {
            .icon-views {
                color: $color-grey-1;
            }
        }

        &-liked {
            .icon-views {
                color: #1877f2;
            }
        }
    }
}

@keyframes animateTopic {
    0% {
        // transform: scale(0);
        right: -200%;
    }

    100% {
        // transform: scale(1);
        right: 5px;
    }
}