@import "../../../assets/scss/responsive/responsive";
@import "../../../assets/scss/generals/variables";
@import "../../../assets/scss/generals/mixins";
@import "../../../assets/scss/base/base";

.card {
    // border: 1px solid;
    min-height: 190px;
    height: 230px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 6px 8px var(--rgba-bsd);
    position: relative;
    transition: transform 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;

    //videos
    &--video {
        &:hover {
            .card-box {

                .card__image {
                    .card__img {
                        // @include mobile {
                        //     height: 94px;
                        // }
                    }

                    .icon-play {
                        display: block;


                        i {
                            animation: animatePlay .3s ease-in-out;
                            animation-delay: 0.2s
                        }
                    }
                }
            }
        }

        // height: 210px;
        @include mobile {
            min-height: auto;
            height: auto;
            // height: 100px !important;
        }

        .card__content {

            &-title {
                // margin-top: 5px;
                -webkit-line-clamp: 2;
                height: 100%;



                @include mobile {
                    -webkit-line-clamp: 5;
                    height: 100%;
                }
            }
        }

        .card__image {
            position: relative;

            .icon-play {
                width: 100%;
                height: 100%;
                background: rgba(29, 29, 29, 0.3);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                font-size: var(--font-size-hg);

                // display: none;

                @include mobile-tablet {
                    display: block;
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: var(--font-size-icon-hg);
                    color: white;
                    // animation: animatePlay .3s ease-in-out;
                }
            }
        }
    }





    @include mobile {
        height: auto;
        min-height: 0;
        box-shadow: 1px 1.5px 2px var(--rgba-bsd), inset 0px 0px 3px var(--rgba-bsd);
        margin: 5px 0;
        height: 100px;
    }

    &:hover {
        opacity: 0.9;

        .card__image {
            &-topic {
                animation: animateTopic .3s forwards;

                @include mobile-tablet {
                    animation: none;
                }
            }

            .card__img {
                transform: scale(1.1);
            }
        }

    }


    &-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include mobile {
            flex-direction: row;
        }
    }

    &__image {
        height: 100%;
        position: relative;
        overflow: hidden;

        &-topic {
            position: absolute;
            right: 5px;
            top: 8px;
            color: $color-white;
            z-index: 2;
            min-width: 80px;
            height: 25px;
            line-height: 25px;
            padding: 0px 8px;
            text-align: center;
            background: rgba(255, 212, 36, 0.9);
            border-radius: 5px;
            text-overflow: ellipsis;
            overflow: hidden;

            @include mobile {
                top: 2px;
                font-size: var(--font-size-sm);
                left: 0;
                right: 0;
                background: rgba(226, 183, 9, 0.8);
                height: 20px;
                line-height: 20px;
                // padding: 0;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                max-height: 100%;
                display: -webkit-box;
                display: none;

            }
        }
    }

    &__img {
        width: 100%;
        height: 140px;
        object-fit: fill;
        transition: transform 0.5s;
        border-radius: 3px;

        @include mobile {
            height: 100%;
        }
    }

    &__content {
        width: 100%;
        padding: 0 10px;
        color: var(--color-text);

        &-topic {
            display: none;
            margin-bottom: 5px;
            font-style: italic;
            color: #ff2882;
            align-items: center;

            i {
                margin-right: 4px;
            }
        }

        &-title {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            height: 47px;
            text-transform: inherit;

            @include mobile {
                -webkit-line-clamp: 2;
                height: 40px;
            }
        }


    }

    //Card__top
    &__top {
        width: 100%;

        @include mobile {
            width: 35%;
        }
    }

    //Card__body
    &__body {
        position: relative;
        flex: 1;
        margin-top: 5px;
        @include flex(space-between);
        align-items: flex-start;
        flex-direction: column;

        @include mobile {
            width: 65%;
        }

        overflow: hidden;
    }

    //Card__view
    &__views {
        color: var(--color-text);
        align-self: flex-end;
        // margin-bottom: 10px;
        margin-bottom: 12px;
        margin-right: 8px;
        font-size: var(--font-size-sm);

        .icon-views {
            margin: 0 5px;
        }

        &-post {}

        &-numb {
            .icon-views {
                color: $color-grey-1;
            }
        }

        &-liked {
            .icon-views {
                color: #1877f2;
            }
        }
    }
}

@keyframes animateTopic {
    0% {
        // transform: scale(0);
        opacity: 0;
        right: -200%;
    }

    100% {
        // transform: scale(1);
        opacity: 1;
        right: 5px;
    }
}

@keyframes animatePlay {
    0% {
        top: 120%;
        opacity: 0;

    }

    100% {
        top: 50%;
        opacity: 1;

    }
}