:root {
    --color-page-background: rgba(245, 245, 245, 1);
    --color-sidebar: #f5f6fa;
    --color-text: #{$color-black};
    --color-text-grey: #70757a;
    --color-text-reverse: #{$color-white};
    --bg-modal-exit: rgba(36, 35, 35, 0.2);
    --rgba-bsd: #{$rgba-bsd};
    --bg-skeleton: #ddd;
    --color-white: #{$color-white};
    --color-black: #{$color-black};
    --color-tabs: #1976d2;
    --font-size-sm: 1.4rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 2.1rem;
    --font-size-hg: 2.5rem;
    --font-size-icon-sm: 2rem;
    --font-size-icon-md: 2.5rem;
    --font-size-icon-lg: 3rem;
    --font-size-icon-xl: 3.5rem;
}

html {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;


    @include mobile {
        font-size: 60%;
    }
}

body {
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    // -webkit-text-fill-color: white;
    // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

a {
    text-decoration: none;
    color: black;
    font-size: inherit;
}

img {
    user-select: none;
    ;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.d-none {
    display: none !important;
}

.wrapper {
    // font-size: 1.6rem;

    background: var(--color-page-background);
    color: var(--color-text);

    &.dark-theme {
        --color-page-background: #{$color-black};
        --color-text: #{$color-white};
        --color-text-reverse: #{$color-black};
        --color-sidebar: #{$color-black};
        --bg-modal-exit: rgba(173, 173, 173, 0.5);
        --rgba-bsd: rgba(51, 50, 50, 0.5);
        --bg-skeleton: #444;
        --color-tabs: #02101d;
        // --color-text-grey: 
    }
}

.swal2-container {
    div {
        font-size: 1.6rem !important;
    }

    #swal2-content {
        font-size: 2rem !important;
    }

    .swal2-confirm {
        min-width: 100px;
    }

    .swal2-icon-content {
        font-size: 1.6rem !important;
    }
}

.Toastify {
    font-size: 1.6rem !important;
}