@import "../../../../assets/scss/generals/mixins";
@import "../../../../assets/scss/generals/variables";

.detail {
    font-size: 1.6rem;
    margin: 30px 0;
    min-height: 500px;

    &-left {
        border-right: 1px solid $color-grey-2;
    }

    &-info {
        @include flex(flex-start);
    }

    &-buttons {
        cursor: pointer;
        margin-left: 20px;

        .icon-like {
            color: grey;
            font-size: 3rem;
            transition: all 0.5s;

            &--active {
                color: rgb(36, 184, 204);
                animation: animateLikeBtn 0.5s ease-in-out;
            }
        }
    }

    &-header {
        margin-bottom: 20px;
    }

    &-body {
        min-height: 990px;
        padding: 0 15px;

        p {
            word-break: break-word;
        }
    }

    &-description {
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

    &-views {
        margin: 10px 0;
        float: left;

        span {
            margin-right: 5px;
        }
    }

    &__heading {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    &__created {
        color: #999;
    }

    .new-suggestion {
        width: 100%;

        // Card Item
        .card {
            height: auto;
            margin-bottom: 15px;

            &__views {
                margin-top: 12px;
                margin-bottom: 0;
            }

            &__image {
                &-topic {
                    font-size: 1.3rem;
                    top: 1px;
                    right: 2px;
                }
            }

            &__img {
                height: 100px;
            }
        }

        &__heading {
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
    }
}