@import '../../../../assets/scss/responsive/responsive';
@import '../../../../assets/scss/generals/mixins';

.results-item {
    margin: 12px 0;


    .end-time {
        font-size: var(--font-size-sm);
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;

        @include mobile {
            padding: 10px 0;
        }
    }

    .results-link {
        @include flex(flex-start);
        color: var(--color-text);

        @include mobile {
            flex-direction: column;
        }

        div,
        p,
        span {
            display: inline-block;
            vertical-align: middle;
        }

        .results-content {
            font-size: var(--font-size-lg);
            // align-self: flex-start;
            width: 100%;

            .scores {
                padding: 0 8px;
                // font-size: inherit;
                font-size: var(--font-size-lg);
                font-weight: bold;

                @include mobile {
                    padding: 0;
                }

                span {
                    margin: 0 2px;

                    @include mobile {
                        margin: 0;
                    }
                }
            }

        }

        .clubs {
            width: 214px;

            // white-space: nowrap;
            font-weight: bold;

            @include tablet {

                width: 200px;
            }

            @include mobile {

                width: 143px;
            }

            &--home {
                text-align: right;
            }

            &__logo {
                width: 30px;
                height: 30px;
                object-fit: fill;
                vertical-align: middle;
                padding: 0 3px;

                @include mobile {
                    height: 20px;
                }
            }

            &__name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include mobile {
                    max-width: 109px;
                }
            }

        }
    }
}