.skeleton {
    border-radius: 8px;
    background: var(--bg-skeleton);
    // animation: animateSkeleton 1s ease-in-out infinite;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, .2);
        transform: skewX(-30deg);
        animation: animateSkeletonLoading .5s linear infinite;
        animation-delay: .5s;
    }

    &--rect {}

    &--circle {
        border-radius: 50%;
    }
}

.skeleton-box {
    border-radius: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 6px 8px var(--rgba-bsd);
    position: relative;
    transition: transform 0.3s;
}

@keyframes animateSkeletonLoading {
    0% {
        transform: translateX(-250%) skewX(-30deg);

    }

    100% {
        transform: translateX(250%) skewX(-30deg);
    }
}