@import "../../../assets/scss/generals/variables";
@import "../../../assets/scss/responsive/responsive";

.auth__box-login {
    width: 100%;
    height: 400px;
    padding: 20px 40px;
    padding-bottom: 30px;
    position: absolute;
    backface-visibility: hidden;
    background-color: $color-white;
    border-radius: 5px;

    @include mobile {
        padding: 10px 20px;
        height: 300px;
    }
}

.loading-auth {
    margin-top: 10px;
}