@import '../../../../assets/scss/responsive/responsive';

.results-item--trending {

    .results-link {

        .results-content {
            .clubs {
                font-size: var(--font-size-md);

                &__logo {
                    height: 25px;
                }

                width: 78px;

                @include mobile {
                    width: 130px;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}