@import '../../../../assets/scss/responsive/responsive';


.trending-results {
    max-height: 400px;
    overflow-y: hidden;

    @include mobile {
        height: 190px;
        overflow-y: scroll;
    }

    &__heading {
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 2.1rem;
    }

    .results-list {}

    .club-name {
        min-width: 40px;
    }


}