@import '../../../../assets/scss/responsive/responsive';


.trending-results {
    max-height: 400px;
    overflow-y: hidden;

    .results-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .results-item {
            margin: 6px 0;

        }

        @include tablet-laptop {
            flex-wrap: wrap;
            max-height: 280px;
        }

        @include tablet {
            flex-wrap: wrap;
            max-height: 280px;
        }


    }

    @include mobile {
        height: 190px;
        overflow-y: scroll;
    }

    &__heading {
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: var(--font-size-lg);
    }

    .results-list {}


}