@import '../../assets/scss/generals/mixins';
@import '../../assets/scss/generals/variables';
@import '../../assets/scss/responsive/responsive';

.footer {
    height: 250px;
    width: 100%;
    background: #081f2e url('../../assets/img/background-stadium.jpg') bottom no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(0.8);
    color: var(--color-text-reverse);
    margin-top: 50px;

    @include mobile {
        min-height: 180px;
        height: 200px;
    }

    &-content {
        padding-top: 50px;
        @include flex(flex-start);
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);

        @include mobile {
            padding-top: 35px;
        }

        &__heading {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 65%;
                height: 8px;
                background: var(--color-text-reverse);
            }

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: -5px;
                width: 35%;
                height: 8px;
                background: var(--color-text);

            }

            span.text {
                font-size: 4rem;
                margin: 8px;
                position: relative;
                display: inline-block;
                animation: animateTextBounce 5s linear infinite;
                transform: skewY(-35deg);
                user-select: none;


                @include mobile {
                    font-size: 2.2rem;
                    margin: 6px;

                }
            }

            @for $i from 1 through 12 {
                span.text:nth-child(#{$i}) {
                    animation-delay: calc(#{$i + 1}s / 10);
                }
            }

            @for $i from 9 through 12 {
                span.text:nth-child(#{$i}) {
                    color: var(--color-text);
                }
            }
        }
    }

    .copy-right {
        text-align: center;
        font-size: 1.3rem;
        padding: 0 80px;
        font-weight: bold;
        line-height: 2.1rem;
        color: white;

        @include mobile {
            margin-top: 20px;
            padding: 0;
        }
    }

    &__social {

        margin: 10px;

        .social {
            color: $color-white;
            font-size: 4rem;
            margin: 0 20px;

            :hover {
                transition: all .5s;
                transform: translateY(-5px) scale(1.1);
            }


            &--facebook {
                color: #0e90f2;

                &:hover {
                    color: #0b5c9b;
                }

            }



            &--instagram {
                color: #d02a70;

                &:hover {
                    color: #a51953;
                }
            }

            &--github {
                color: rgb(233, 8, 9);

                &:hover {
                    color: rgb(185, 8, 8);
                }
            }
        }
    }
}

@keyframes animateTextBounce {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-30px);
    }

    15% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-25px);
    }

    35% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-15px);
    }

    70% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}