@import '../../../../assets/scss/generals/mixins';
@import '../../../../assets/scss/generals/variables';

.comments-user {
    @include flex(flex-start);
    border-bottom: 1px solid $color-grey-2;
    // border-top: 1px solid $color-grey-2;
    padding: 20px 0;
    margin-bottom: 20px;
    margin-right: 40px;
}