@import '../../../../assets/scss/responsive/responsive';
@import '../../../../assets/scss/generals/mixins';

.result-detail {
    // border: 1px solid;
    width: 100%;

    &-header {

        .tournament {
            font-weight: bold;
            font-size: 2.2rem;
        }

        .end-time {
            font-size: 1.4rem;
            font-style: italic;
            margin-left: 10px;
        }

    }

    .scoreboard {
        @include flex(center);
        padding: 30px 0;
        font-weight: bold;
        color: var(--color-text);

        .club {
            @include flex(center);
            font-size: 2rem;
            width: 49%;

            @include mobile {
                font-size: 1.6rem;
            }

            &__name {
                @include flex(flex-start);

                &-img {
                    height: 40px;
                    margin-right: 8px;

                    @include mobile {
                        height: 20px;
                        margin-right: 2px;
                    }
                }
            }

            &__goals {
                display: flex;

                @include mobile {}

                span {
                    margin: 0 8px;
                    font-size: 2.4rem;

                    @include mobile {
                        font-size: 1.8rem;
                        margin: 0 3px;
                    }

                }
            }
        }
    }

    .red-card {
        margin-top: 10px;
    }

    .goals,
    .red-card {
        // @include flex(center);
        display: flex;
        color: var(--color-text-grey);

        &__image {
            width: 12px;
            height: 18px;
            border-radius: 3px;
            transform: skewY(10deg);
            background: red;
            display: inline-block;
        }

        &__player {
            margin: 8px;

            i {
                margin-right: 5px;
            }
        }

        &-list {
            width: 49%;
            @include flex(flex-start);
            align-items: flex-start;
            flex-direction: column;
            margin: 0 40px;

            @include mobile {
                margin: 0;
            }

            @include tablet {
                margin: 0;
            }
        }

        &-item {
            padding: 5px 0;

            &--away {
                align-self: flex-end;
                white-space: nowrap;
            }
        }
    }
}

.note {
    font-size: 2.5rem;
    margin: 20px 0;

    .author-video {
        margin-left: 10px;
        color: red;
        text-decoration: underline;
    }
}

.video {
    // margin-top: 40px;

    &-youtube {
        width: 100%;
    }

    padding-bottom: 20px;

}