@import '../../assets/scss/generals/variables';
@import '../../assets/scss/generals/mixins';

.info {
    &--user {
        position: relative;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        background: var(--color-page-background); // background: #8d8c8c
        // animation: animateInfoUser .15s linear;
    }

    &-content {
        font-size: 1.8rem;
        // font-weight: 400;
        margin-left: 30px;


        p {
            @include flex(flex-start);
            color: var(--color-text);
            margin-bottom: 20px;

            .icon-box {
                font-size: 2rem;
                margin-right: 12px;
                color: var(--color-text);
            }
        }
    }


    &-buttons {
        .btn {
            margin-bottom: 15px;

        }

        .icon-box {
            font-size: 1.7rem;
            margin-right: 10px;
            color: var(--color-text-reverse);
        }
    }


    &__heading {
        text-align: center;
        font-size: 2.1rem;
        padding: 10px 0;
        border-bottom: 1px solid $color-grey-3;
        position: relative;

        span {
            @include flex(center);
            position: absolute;
            right: 0px;
            padding: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all .5s;

            &:hover {
                opacity: .8;
            }
        }
    }

    &-avatar {
        &-box {
            position: relative;
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(95, 66, 66, 0.4);

            .loading-dot-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }


        margin: 20px auto;

        @include flex(center);
        flex-direction: column;

        &__errors {
            font-size: 1.4rem;
            color: red;
            font-style: italic;
            margin-bottom: 8px;
        }

        &__buttons {
            margin: 10px 0;

            .btn {
                margin: 0 8px;
            }
        }

        &__img {
            // border-radius: 50%;
            border-radius: 8px;
            $length: 150px;
            border: 1px solid $color-grey-3;
            border-radius: 8px;
            width: $length;
            height: $length;

        }

        .form-upload {
            @include flex(center);
            flex-direction: column;

            &__avatar {
                display: none;


            }

            .btn {
                &--upload {
                    margin-top: 10px;
                }
            }

            label[for="avatar"] {
                margin-top: 15px;
                border: 1px solid;
                font-size: 1.3rem;
                font-weight: bold;
                @include flex(space-evenly);
                cursor: pointer;
                text-align: center;
                color: var(--color-text);

                .icon-box {
                    color: var(--color-text);
                }
            }
        }
    }
}

@keyframes animateInfoUser {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0)
    }
}