.news {
    // padding-top: 85px;
    // margin-top: -60px;

    &__heading {
        font-size: var(--font-size-xl);
        display: inline-block;
        margin-bottom: 10px;
        font-weight: 700;
        color: var(--color-text);
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    .row {
        // margin-top: -20px;

        // [class^="col"] {
        //     margin-top: 20px;
        // }
    }

    .skeleton.description {
        margin: 0 auto;
        margin-top: 10px;
    }

    .skeleton.views {
        float: right;
        margin-top: 8px;
        margin-right: 10px;
    }

    .box {
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 4px 6px 8px var(--rgba-bsd);
        position: relative;
        transition: transform 0.3s;
    }

    .news-pagination {
        margin: 50px 0;
    }
}