@import "../../assets/scss/generals/variables";
.trending {
    &-list {
        width: 100%;
        box-shadow: inset 0 0 10px var(--rgba-bsd), 4px 8px 15px var(--rgba-bsd);
        border-radius: 5px;
    }
    button.slick-arrow {
        z-index: 5;
        &:hover {
            &::before {
                color: rgb(202, 202, 202);
            }
        }
        &::before {
            transition: all 0.4s;
            font-size: 4rem;
            color: $color-white;
        }
    }
    .slick-next {
        right: 25px;
    }
    .slick-prev {
        left: 5px;
    }
}
