@import "../../assets/scss/generals/mixins";

.not-found {
    @include flex(center);
    align-items: flex-start;
    text-align: center;
    padding-top: 150px;
    height: 500px;

    &__heading {
        font-size: var(--font-size-hg);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__status {
        font-size: calc(var(--font-size-xl) * 3);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    i.fas.fa-house-user {
        margin-right: 8px;
    }
}